html {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body {
        font-family: "Open Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: normal;
        font-variation-settings:"wdth" 100;
        font-size: smaller;
        header {
            background-color: white;
            height: 50px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .header-left {
                padding: 10px;
                .logo-section {
                    display: flex;
                    align-items: center;
                    text-decoration: none;
                    color: black;
                    p {
                        margin-left: 25px;
                    }
                }
            }
            .header-right {
                padding: 10px;
                text-align: end;
                span {
                    margin-right: 25px;
                }
                button {
                    background-color: rgb(0, 110, 255);
                    padding: 5px 10px;
                    color: white;
                    border: 0;
                }
            }
        }
        main {
            .jumboBg {
                width: 100%;
                background-color: rgb(196 221 235);
                .container-jumbo {
                    max-width: 900px;
                    margin: 0 auto;
                    .top-row {
                        display: flex;
                        flex-wrap: wrap;
                        .content {
                            padding-top: 45px;
                            font-size: 32px;
                        }
                    }
                    .bottom-row {
                        display: flex;
                        flex-wrap: wrap;
                        .col-40 {
                            width: 40%;
                            height: 340px;
                            .content {
                                p {
                                    padding: 35px 55px 25px 0;
                                }
                                button {
                                    background-color: rgb(0, 110, 255);
                                    padding: 10px 10px;
                                    color: white;
                                    border: 0;
                                }
                                .fa-size {
                                    padding-top: 20px;
                                    font-size: 40px;
                                }
                            }
                        }
                        .col-60 {
                            width: 60%;
                            height: 340px;
                            .content {
                                position: relative;
                                .size {
                                    width: 650px;
                                    position: absolute;
                                    left: -80px;
                                    top: 35px;
                                }
                            }
                        }
                    }
                }
            }
            .colossalBg {
                width: 100%;
                .container-plan {
                    max-width: 750px;
                    margin: 0 auto;
                    padding-top: 70px;
                    height: 1000px;
                    h1 {
                        padding: 40px 0;
                    }
                    .pb-30 {
                        padding-bottom: 30px;
                    }
                    .row {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        .col {
                            width: 30%;
                            border: 2px solid rgb(89 83 83 / 12%);
                            .plans {
                                border-bottom: 2px solid rgb(89 83 83 / 12%);
                                text-align: center;
                                padding: 5px;
                            }
                            .description-plans {
                                padding: 20px;
                                h2 {
                                    padding: 10px 0;
                                }
                                h4 {
                                    padding: 5px 0;
                                }
                                h5 {
                                    padding: 5px 0 35px 0;
                                    color: grey;
                                    font-weight: 100;
                                }
                                .info-list {
                                    list-style-type: none;
                                    li {
                                        margin-bottom: 20px;
                                    }
                                }
                                .check-list {
                                    list-style-type: '✔';
                                    line-height: 15px;
                                    font-size: 12px;
                                    li {
                                        margin: 15px 0;
                                    }
                                }
                                button {
                                    background-color: rgb(0, 110, 255);
                                    padding: 10px 22px;
                                    color: white;
                                    border: 0;
                                    font-size: 12px;
                                    margin: 20px 0;
                                }
                                button.other-button {
                                    padding: 10px 60px;
                                }
                                .short-line {
                                    width: 40px;
                                    margin: 30px 0;
                                    border: 1px solid rgb(89 83 83 / 12%);
                                }
                            }
                        }
                        .col-100 {
                            width: 100%;
                            border: 2px solid rgb(89 83 83 / 12%);
                            margin-top: 50px;
                            .plan {
                                border-bottom: 2px solid rgb(89 83 83 / 12%);
                                text-align: center;
                                padding: 5px;
                            }
                            .description-plan {
                                display: flex;
                                flex-wrap: wrap;
                                justify-content: space-between;
                                align-items: center;
                                padding: 20px 15px;
                                .text {
                                    width: 70%;
                                    h2 {
                                        padding: 5px 0;
                                    }
                                    h4 {
                                        padding: 10px 0;
                                    }
                                    p {
                                        font-size: 12px;
                                        padding-top: 25px;
                                    }
                                }
                                .button {
                                    align-self: flex-start;
                                    button {
                                        background-color: rgb(0, 110, 255);
                                        padding: 10px 25px;
                                        color: white;
                                        border: 0;
                                        font-size: 12px;
                                    }
                                }
                            }
                            /* button {
                                h4 {
                                    padding: 5px 0;
                                }
                                p {
                                    font-size: 11px;
                                    margin-top: 30px;
                                }
                                width: 30%;
                                span {
                                    background-color: rgb(0, 110, 255);
                                    padding: 10px 22px;
                                }
                            } */
                        }
                    }
                }
            }
        }
    }
}