html {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body {
        font-family: "Open Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: normal;
        font-variation-settings:"wdth" 100;
        font-size: smaller;
        overflow-x: hidden;
        header {
            background-color: white;
            height: 50px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .header-left {
                padding: 10px;
                .logo-section {
                    display: flex;
                    align-items: center;
                    text-decoration: none;
                    color: black;
                    p {
                        margin-left: 25px;
                    }
                }
            }
            .header-right {
                padding: 10px;
                text-align: end;
                span {
                    margin-right: 25px;
                }
                button {
                    background-color: rgb(0, 110, 255);
                    padding: 5px 10px;
                    color: white;
                    border: 0;
                }
            }
        }
        main {
            .jumboBg {
                width: 100%;
                background-color: rgb(196 221 235);
                .container-jumbo {
                    max-width: 900px;
                    margin: 0 auto;
                    .top-row {
                        display: flex;
                        flex-wrap: wrap;
                        .content {
                            padding-top: 45px;
                            font-size: 32px;
                        }
                    }
                    .bottom-row {
                        display: flex;
                        flex-wrap: wrap;
                        .col-40 {
                            width: 40%;
                            height: 340px;
                            .content {
                                p {
                                    padding: 35px 55px 25px 0;
                                }
                                button {
                                    background-color: rgb(0, 110, 255);
                                    padding: 10px 10px;
                                    color: white;
                                    border: 0;
                                }
                                .fa-size {
                                    padding-top: 20px;
                                    font-size: 40px;
                                }
                            }
                        }
                        .col-60 {
                            width: 60%;
                            height: 340px;
                            .content {
                                position: relative;
                                .size {
                                    width: 650px;
                                    position: absolute;
                                    left: -80px;
                                    top: 35px;
                                }
                            }
                        }
                    }
                }
            }
            .colossalBg {
                width: 100%;
                .container-plan {
                    max-width: 750px;
                    margin: 0 auto;
                    padding-top: 70px;
                    h1 {
                        padding: 40px 0;
                    }
                    .pb-30 {
                        padding-bottom: 30px;
                    }
                    .row {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        .col {
                            width: 30%;
                            border: 2px solid rgb(89 83 83 / 12%);
                            .plans {
                                border-bottom: 2px solid rgb(89 83 83 / 12%);
                                text-align: center;
                                padding: 5px;
                            }
                            .description-plans {
                                padding: 20px;
                                h2 {
                                    padding: 10px 0;
                                }
                                h4 {
                                    padding: 5px 0;
                                }
                                h5 {
                                    padding: 5px 0 35px 0;
                                    color: grey;
                                    font-weight: 100;
                                }
                                .info-list {
                                    list-style-type: none;
                                    li {
                                        margin-bottom: 20px;
                                    }
                                }
                                .check-list {
                                    list-style-type: '✔';
                                    line-height: 15px;
                                    font-size: 12px;
                                    li {
                                        margin: 15px 0;
                                    }
                                }
                                button {
                                    background-color: rgb(0, 110, 255);
                                    padding: 10px 22px;
                                    color: white;
                                    border: 0;
                                    font-size: 12px;
                                    margin: 20px 0;
                                }
                                button.other-button {
                                    padding: 10px 60px;
                                }
                                .short-line {
                                    width: 40px;
                                    margin: 30px 0;
                                    border: 1px solid rgb(89 83 83 / 12%);
                                }
                            }
                        }
                        .col-100 {
                            width: 100%;
                            border: 2px solid rgb(89 83 83 / 12%);
                            margin-top: 50px;
                            .plan {
                                border-bottom: 2px solid rgb(89 83 83 / 12%);
                                text-align: center;
                                padding: 5px;
                            }
                            .description-plan {
                                display: flex;
                                flex-wrap: wrap;
                                justify-content: space-between;
                                align-items: center;
                                padding: 20px 15px;
                                .text {
                                    width: 70%;
                                    h2 {
                                        padding: 5px 0;
                                    }
                                    h4 {
                                        padding: 10px 0;
                                    }
                                    p {
                                        font-size: 12px;
                                        padding-top: 25px;
                                    }
                                }
                                .button {
                                    align-self: flex-start;
                                    button {
                                        background-color: rgb(0, 110, 255);
                                        padding: 10px 25px;
                                        color: white;
                                        border: 0;
                                        font-size: 12px;
                                    }
                                }
                            }
                        }
                    }
                }
                .container-partner {
                    width: 750px;
                    margin: 0 auto;
                    padding-top: 100px;
                    .row {
                        display: flex;
                        flex-wrap: wrap;
                        .image {
                            width: 60%;
                            height: 400px;
                            .size {
                                width: 100%;
                            }
                        }
                        .text {
                            width: 40%;
                            height: 400px;
                            padding: 35px 32px;
                            h2 {
                                margin-bottom: 20px;
                            }
                            p {
                                margin-bottom: 20px;
                            }
                            button {
                                border: 1px solid black;
                                padding: 10px 15px;
                                background-color: transparent;
                            }
                        }
                    }
                }
                .container-business {
                    width: 750px;
                    margin: 70px auto;
                    .row {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        .business {
                            width: 30%;
                            padding-top: 40px;
                            .size {
                                width: 100%;
                            }
                            p {
                                font-size: 12px;
                                margin: 20px 15px 30px 0;
                            }
                        }
                        .re-size {
                            width: 60%;
                            margin: 100px 0;
                            h2 {
                                font-size: 25px;
                                padding-bottom: 40px;
                            }
                        }
                    }
                }
                .companies-section {
                    width: 100vw;
                    background-color: rgb(158 199 221);
                    .companies {
                        display: flex;
                        flex-wrap: wrap;
                        .section-2x2 {
                            width: calc(100vw / 3);
                            height: calc(100vw / 3);
                            .content-row {
                                display: flex;
                                flex-wrap: wrap;
                                .content-col {
                                    width: calc(100% / 2);
                                    height: calc(100vw / 6);
                                    position: relative;
                                    .size {
                                        width: 50%;
                                        position: absolute;
                                        top: 50%;
                                        left: 50%;
                                        transform: translate(-50% , -50%);
                                        filter: invert(98%) sepia(100%) saturate(0%) hue-rotate(344deg) brightness(101%) contrast(101%);
                                    }
                                }
                                .designitBg {
                                    background-color: rgb(132, 185, 91);
                                }
                                .asuBg {
                                    background-color: rgb(55, 0, 0);
                                }
                                .ufBg {
                                    background-color: rgb(43, 131, 186);
                                }
                                .toppsBg {
                                    background-color: rgb(214, 32, 0);
                                }
                                .bicycleBg {
                                    background-color: rgb(182, 0, 0);
                                }
                                .lonelyBg {
                                    background-color: rgb(0, 0, 118);
                                }
                                .clearBg {
                                    background-color: rgb(255, 230, 0);
                                }
                            }
                        }
                        .big-section {
                            width: calc(100vw / 3);
                            height: calc(100vw / 3);
                            padding: 40px 30px;
                            background-color: rgb(239, 239, 239);
                            .size {
                                width: 50%;
                            }
                            .short-line {
                                width: 20%;
                                margin: 30px 0;
                                border: 1px solid rgb(89 83 83 / 12%);
                            }
                            p {
                                margin-bottom: 40px;
                                font-size: 14px;
                            }
                        }
                    }
                    .freeTrial-section {
                        width: 750px;
                        margin: 0 auto;
                        .row {
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: space-between;
                            align-items: center;
                            .text {
                                width: 50%;
                                padding: 60px 20px 60px 0;
                                font-size: 30px;
                                font-weight: 700;
                                color: rgb(83, 0, 0);
                            }
                            button {
                                background-color: rgb(255, 255, 255);
                                padding: 10px 25px;
                                color: rgb(0, 0, 0);
                                border: 0;
                            }
                        }
                    }
                }
                .questions-section {
                    width: 100%;
                    .questions {
                        width: 750px;
                        margin: 90px auto;
                        h1 {
                            padding-bottom: 45px;
                            border-bottom: 1px solid black;
                        }
                        .row {
                            display: flex;
                            flex-wrap: wrap;
                            border-bottom: 1px solid black;
                            .col-left {
                                width: 75%;
                                font-size: 13px;
                                font-weight: 700;
                                padding: 30px 0;

                            }
                            .col-right {
                                width: 25%;
                                text-align: end;
                                padding: 30px 30px 30px 0;
                            }
                        }
                    }

                }
            }
        }
        footer {
            width: 100%;
            background-color: black;
            border-bottom: 1px solid white;
            .container {
                width: 900px;
                margin: 0 auto;
                .row {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    .col {
                        width: calc(100% / 6);
                        height: 500px;
                        padding-top: 80px;
                        .content {
                            color: white;
                            ul {
                                list-style-type: none;
                                line-height: 28px;
                                margin-top: 18px;
                                padding-bottom: 35px;
                            }
                            .short-line {
                                margin: 35px 0;
                                width: 60%;
                            }
                            .grey-color {
                                color: grey;
                            }
                        }
                    }
                }
            }
        }
    }
}